<div>
  <div className="relative py-16 bg-white overflow-hidden max-w-screen-lg mx-auto">
    <div className="relative px-4 sm:px-6 lg:px-8">
      <div className="text-lg max-w-prose mx-auto mb-6">
          hello world
      </div>
    </div>
  </div>
</div>